
@using ClientModels;
@inject IJSRuntime JSRuntime


<div style="height: 220px">
    <canvas id="@Id" style="border: 1px solid #d3d3d3;">Browser does not support HTML5 canvas</canvas>
</div>

@code {

    [Parameter]
    public List<DoubleDataPoint> DoubleDataPoints { get; set; }

    [Parameter]
    public string Id { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine($"BarChart kutsuu BarChart() id:lla {Id}");
        JSRuntime.InvokeVoidAsync("barchart", Id, DoubleDataPoints);
    }

}

